In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("netflix_dataset_50.csv")

In [3]:
df.head(2)

,title,genre,release_year,rating,content_type,views,watch_time,country,region,genre_encoded
0,Title_1,Horror,2016,8.1,Movie,318824,157,India,Europe,3
1,Title_2,Romance,2024,6.5,Series,258426,68,USA,Europe,4

# Top-rated titles (highest rating).

In [4]:
top_rating = df.groupby("title")["rating"].max().sort_values(ascending=False).head(3)
top_rating

title
Title_16    9.7
Title_34    9.5
Title_3     9.3
Name: rating, dtype: float64

# Movie vs Series ka average rating compare karna.

In [5]:
df["content_type"].unique()

array(['Movie', 'Series'], dtype=object)

In [14]:
avg_rating = df.groupby("content_type")["rating"].mean()

movie_avg = avg_rating.get("Movie", 0)
series_avg = avg_rating.get("Series", 0)
movie_avg
series_avg
print("Movie average rating:", movie_avg)
print("Series average rating:", series_avg)

# Compare
if movie_avg > series_avg:
    print("Movies have higher average rating")
elif movie_avg < series_avg:
    print("Series have higher average rating")
else:
    print("Movies and Series have same average rating")

Movie average rating: 6.246153846153846
Series average rating: 5.141666666666667
Movies have higher average rating

# Viewer satisfaction (high vs low rating) analyze karna.

In [16]:
threshold = df["rating"].median()
print("Suggested threshold for high vs low rating:", threshold)

Suggested threshold for high vs low rating: 6.1

In [19]:
# Set threshold
threshold = 6.1

low_rating = df[df['rating'] < threshold]
high_rating = df[df['rating'] >= threshold] 

avg_low_views = low_rating['views'].mean()
avg_high_views = high_rating['views'].mean()

print("Average views for low-rated content:", avg_low_views)
print("Average views for high-rated content:", avg_high_views)

Average views for low-rated content: 472962.375
Average views for high-rated content: 507350.8846153846