In [1]:
import pandas as pd
import numpy as np

In [4]:
# !pip install mysql-connector-python

In [3]:
import mysql.connector
import pandas as pd

# Connect to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Asd@123",
    database="netflix"
)

cursor = connection.cursor()

# Run query
cursor.execute("SELECT * FROM netflix_dataset_50")

# Fetch all rows
rows = cursor.fetchall()

# Get column names from cursor
columns = [desc[0] for desc in cursor.description]

# Convert to pandas DataFrame
df = pd.DataFrame(rows, columns=columns)


cursor.close()
connection.close()

In [6]:
df.head(2)

,title,genre,release_year,rating,content_type,views,watch_time,country,region,genre_encoded
0,Title_1,Horror,2016,8.1,Movie,318824,157,India,Europe,3
1,Title_2,Romance,2024,6.5,Series,258426,68,USA,Europe,4

In [4]:
df.isnull().sum()

title            0
genre            0
release_year     0
rating           0
content_type     0
views            0
watch_time       0
country          0
region           0
genre_encoded    0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.shape

(50, 10)